# Dependências e Builds
node_modules
**/node_modules
.next
**/ .next
out
dist
build
bin
obj

# Ambientes e Segredos
.env
.env.*
!.env.example

# Git e IDEs
.git
.gitignore
.vscode
.idea
.DS_Store

# Testes e Documentação
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/*.md
coverage
.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*